@page "/"
@inject HttpClient Http
@using RaceList.Models

<PageTitle>NASCAR Schedule</PageTitle>
<h1>NASCAR Schedule</h1>
<h3>2023</h3>


@if (schedule == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="schedule">
        <div class="series-table">
            <Series SeriesName="Series 1" RaceList="schedule.Series1" />
        </div>

        <div class="series-table">
            <Series SeriesName="Series 2" RaceList="schedule.Series2" />
        </div>

        <div class="series-table">
            <Series SeriesName="Series 3" RaceList="schedule.Series3" />
        </div>
    </div>
}

@code {
    private RaceListBasic? schedule;


    protected override async Task OnInitializedAsync()
    {
        schedule = await Http.GetFromJsonAsync<RaceListBasic>("https://cf.nascar.com/cacher/2023/race_list_basic.json");
    }
}
