@page "/"
@inject HttpClient Http
@using RaceList.Models

<PageTitle>NASCAR Schedule</PageTitle>
<h1>NASCAR Schedule</h1>
<h3>@Year</h3>

<button @onclick="FetchPreviousYear">Previous Year</button>
@if (Year < DateTime.Now.Year)
{
    <button @onclick="FetchNextYear">Next Year</button>
}

@if (schedule == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="schedule">
        <div class="series-table">
            <Series SeriesName="Series 1" RaceList="schedule.Series1" />
        </div>

        <div class="series-table">
            <Series SeriesName="Series 2" RaceList="schedule.Series2" />
        </div>

        <div class="series-table">
            <Series SeriesName="Series 3" RaceList="schedule.Series3" />
        </div>
    </div>
}

@code {
    private RaceListBasic? schedule;
    private int Year = DateTime.Now.Year;

    protected override async Task OnInitializedAsync()
    {
        schedule = await Http.GetFromJsonAsync<RaceListBasic>($"https://cf.nascar.com/cacher/{Year}/race_list_basic.json");
    }

    private async Task FetchPreviousYear()
    {
        Year -= 1;
        schedule = await Http.GetFromJsonAsync<RaceListBasic>($"https://cf.nascar.com/cacher/{Year}/race_list_basic.json");
    }

    private async Task FetchNextYear()
    {
        Year += 1;
        schedule = await Http.GetFromJsonAsync<RaceListBasic>($"https://cf.nascar.com/cacher/{Year}/race_list_basic.json");
    }
}
